.jumbotron {
    background-image: url("../img/pizza.png");
    background-size: cover;
    background-position: center;
    height: 25vh;
}
h1 { /*white text bg won't span entirety of jumbotron*/
    color: gray;
    background-color: white;
    opacity: .75;
    text-align: center;
}